:root {
  --cc-bg: rgba(30, 30, 46, 0.85);
  --noti-bg: 48, 48, 48;
  --noti-bg-alpha: 0.8;
  --noti-bg-darker: rgb(38, 38, 38);
  --noti-bg-hover: rgb(56, 56, 56);
  --noti-bg-focus: rgba(68, 68, 68, 0.6);
  --noti-bg-alt: rgba(48, 48, 48, 0.5);

  --text-color: rgb(255, 255, 255);
  --text-color-disabled: rgb(150, 150, 150);

  --noti-border-color: rgba(245, 194, 231, 1);
  --border: 1px solid var(--noti-border-color);
  --border-radius: 12px;
  --notification-shadow: none;

  --mpris-album-art-overlay: rgba(0, 0, 0, 0.55);
  --mpris-button-hover: rgba(0, 0, 0, 0.5);

  --notification-icon-size: 64px;
  --notification-app-icon-size: 21px;
  --notification-group-icon-size: 32px;
  --widget-volume-row-icon-size: 24px;

  --font-size-body: 15px;
  --font-size-summary: 16px;
  --font-family: "CaskaydiaCove Nerd Font", "Noto Sans CJK", sans-serif;
}

* {
  font-family: var(--font-family);
  box-shadow: none;
}

notificationwindow,
blankwindow {
  background: transparent;
}

.control-center {
  background: var(--cc-bg);
  color: var(--text-color);
  border-radius: var(--border-radius);
}

.notification,
.widget-mpris-player,
.widget-label,
.widget-buttons-grid,
.widget-menubar,
.widget-volume,
.widget-slider,
.widget-inhibitors {
  margin: 8px;
  padding: 8px;
  border-radius: var(--border-radius);
  border: var(--border);
  background-color: rgba(var(--noti-bg), var(--noti-bg-alpha));
  color: var(--text-color);
  overflow: hidden;
}

.notification-row {
  background: transparent;
  outline: none;
}

.notification-row:focus {
  background: transparent;
}

.notification {
  padding: 0;
  transition: background 0.15s ease-in-out;
}

.notification:hover {
  background-color: var(--noti-bg-hover);
}

.notification-group:focus {
  background: none;
}

.notification-group .notification-group-close-button .close-button {
  margin: 12px 20px;
}

.notification-group .notification-group-headers {
  margin: 0 16px 8px 16px;
  color: var(--text-color);
}

.notification-group .notification-group-headers .notification-group-icon {
  color: var(--text-color);
  -gtk-icon-size: var(--notification-group-icon-size);
}

.notification-group .notification-group-headers .notification-group-header {
  color: var(--text-color);
  font-weight: bold;
}

.notification-group.collapsed.not-expanded {
  opacity: 0.5;
}

.notification-group.collapsed .notification-row .notification {
  background-color: rgb(var(--noti-bg));
}

.notification-group.collapsed .notification-row:not(:last-child) .notification-action,
.notification-group.collapsed .notification-row:not(:last-child) .notification-default-action {
  opacity: 0;
}

.notification-group.collapsed:hover .notification-row:not(:only-child) .notification {
  background-color: var(--noti-bg-hover);
}

.widget-mpris {
  padding: 0;
}

.widget-mpris-player {
  padding: 0;
  background-color: transparent;
  background-image: none;
}

.widget-mpris .widget-mpris-player .mpris-background {
  border-radius: var(--border-radius);
  background-color: transparent;
}

.widget-mpris .widget-mpris-player .mpris-overlay {
  padding: 16px;
  background-color: var(--mpris-album-art-overlay);
  border-radius: var(--border-radius);
}

.widget-mpris .widget-mpris-player .mpris-overlay>box>button {
  border-radius: 100%;
  /* Circular media controls */
}

.widget-mpris .widget-mpris-player .mpris-overlay>box>button:hover {
  background-color: var(--mpris-button-hover);
}

.widget-buttons-grid {
  background-color: transparent;
  border: none;
  padding: 0;
}

.widget-buttons-grid flowboxchild>button {
  border-radius: var(--border-radius);
  border: var(--border);
  background-color: rgba(var(--noti-bg), var(--noti-bg-alpha));
  margin: 4px;
}

.widget-buttons-grid flowboxchild>button:hover {
  background-color: var(--noti-bg-hover);
}

.widget-menubar>.menu-button-bar>.start {
  margin-left: 8px;
}

.widget-menubar>.menu-button-bar>.end {
  margin-right: 8px;
}

.widget-menubar>.menu-button-bar>.widget-menubar-container button {
  border-radius: var(--border-radius);
  margin: 0 4px;
}

.widget-menubar>revealer * {
  margin-top: 8px;
}

.widget-menubar>revealer * button {
  border-radius: var(--border-radius);
  margin: 8px;
  margin-top: 0;
}

.widget-menubar>revealer * button:last-child {
  margin-bottom: 0;
}

.widget-volume {
  padding: 8px 16px;
}

.widget-volume row image {
  -gtk-icon-size: var(--widget-volume-row-icon-size);
}

.per-app-volume {
  background-color: var(--noti-bg-alt);
  margin: 8px;
  margin-bottom: 0;
  border-radius: var(--border-radius);
}

.widget-slider label {
  font-size: var(--font-size-body);
}

.widget-inhibitors>label,
.widget-title>label {
  margin-right: 8px;
  font-size: 1.5rem;
  font-weight: bold;
}

.widget-inhibitors>button,
.widget-title>button {
  margin-left: 8px;
  border-radius: var(--border-radius);
  background-color: var(--noti-bg-darker);
}

.widget-inhibitors>button:hover,
.widget-title>button:hover {
  background-color: var(--noti-bg-hover);
}

.widget-dnd label {
  font-size: 1.2rem;
  margin-right: 8px;
}